*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkcyan;
    color: #333;
    text-align: center;
    line-height: 1.7;
}

.section{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 20px;
}

.hero{
    padding-left:50px 20px ;
    padding-bottom: 50px 20px;
    padding-right: 50px 20px;
    padding-top: 40px 10px;
}

.hero h1{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 100px; 
    
}

.grid{
    display: grid;
    gap: 20px;
}

.grid div{
    background-color: lightblue;
    padding: 30px;
    border-radius: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero img{
    width: 400px;
    height: auto;
    padding: 30px;
   border-radius: 5000px;
}

.section p{
  
    padding: 10px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

.hero p{
    
    padding: 10px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

.grid li{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 40px;
    margin: 10px;
    text-align: left;
    margin-left:auto;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (max-width: 768px){
    .hero h1{font-size: 40px;}
    body{background-color: goldenrod;} 
    .section li{background-color: sandybrown;}
}

.hero-text{
    display: flex;
    flex-direction: column;
}

html {
  scroll-padding-top: 70px; /* adjust for your navbar height */
}